<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alpaca.app.sample.mapper.MemberMapper">

    <resultMap type="com.alpaca.app.sample.domain.MemberVO" id="memberMap">
        <id property="email" column="email"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="regDate" column="regdate"/>
        <result property="updateDate" column="updatedate"/>
        <result property="enabled" column="enabled"/>
        <result property="fromSocial" column="from_social"/>
        <collection property="roleSet" resultMap="authMap">
        </collection>
    </resultMap>

    <resultMap type="com.alpaca.app.sample.domain.AuthVO" id="authMap">
        <result property="auth" column="auth"/>
    </resultMap>


    <insert id="saveMember" parameterType="com.alpaca.app.sample.domain.MemberVO">
        <![CDATA[
        INSERT
        INTO
            tbl_sec_member
        (
            email
            , name
            , password
            , from_social
        )
        VALUES
            (   #{email}
                ,#{name}
                ,#{password}
                ,#{fromSocial}
            )
        ]]>
    </insert>

    <select id="findByEmail" resultMap = "memberMap">
      <![CDATA[
        SELECT
            mem.email
             , name
             , password
             , from_social
             , enabled
             , auth.auth roleSet
             , regdate
             , updatedate
        FROM
            tbl_sec_member mem
                LEFT OUTER JOIN
            tbl_sec_member_auth auth
            on mem.email = auth.email
        WHERE mem.email = #{email} and from_social = #{fromSocial}
        ]]>
    </select>
</mapper>