<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"><!DOCTYPE html>
<head th:replace="fragments/main/main_header::mainHead"></head>
<body>
    <!-- 머리말 시작 -->
    <div th:replace="fragments/header::header"></div>

    <!-- 본문 시작 -> 여기서 작업하세요 -->
    <main>
        <!-- 본문 타이틀 -->
        <div th:replace="/"></div>
        <div class="title">
            
            <div class="cloud-box">
                <img class="cloud" src="https://img.icons8.com/emoji/96/000000/cloud-emoji.png"/>
            </div>
            <div class="cloud-box">
                <img class="cloud" src="https://img.icons8.com/emoji/96/000000/cloud-emoji.png"/>
            </div>
            <div class="cloud-box">
                <img class="cloud" src="https://img.icons8.com/emoji/96/000000/cloud-emoji.png"/>
            </div>
            <div class="cloud-box">
                <img class="cloud" src="https://img.icons8.com/emoji/96/000000/cloud-emoji.png"/>
            </div>
            <div class="title-text">
                <h1 class="text">인터뷰</h1>
                <h3 class="text">인터뷰</h3>
            </div>
        </div>

        <div class="intro">
            <p class="intro-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo sint soluta quibusdam corrupti saepe dolor?</p>
        </div>

        <!-- 구분선 -->
        <div class="line"></div>

        <!-- 메인화면 게시판 -->
        <div class="board">
            <table class="board-table">
                <thead class="board-head">
                    <tr>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                    </tr>
                </thead>
                <tbody class="board-body">
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>

    <!-- 꼬리 시작 -->
    <footer>
        <!-- 깃 허브 링크 -->
        <div class="developers">
            <a class="hayoon" href="https://github.com/orgs/Team-HANOI/dashboard">
                <i class="fab fa-github-square fa-4x"></i>
                <p class="developers-id">Team-HANOI</p>
            </a>
            <a class="hayoon" href="https://github.com/HAYOON26">
                <i class="fab fa-github-square fa-4x developers-git"></i>
                <p class="developers-id">HAYOON26</p>
            </a>
            <a class="hayoon" href="https://github.com/AngryPig123">
                <i class="fab fa-github-square fa-4x developers-git"></i>
                <p class="developers-id">AngryPig123</p>
            </a>
            <a class="hayoon" href="https://github.com/hs95blue">
                <i class="fab fa-github-square fa-4x developers-git"></i>
                <p class="developers-id">hs95blue</p>
            </a>
            <a class="hayoon" href="https://github.com/jin-co">
                <i class="fab fa-github-square fa-4x developers-git"></i>
                <p class="developers-id">jin-co</p>
            </a>
        </div>

        <!-- copyright, 소개글 -->
        <div class="footer-text">
            <p>
                &copy;2021
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos earum odit similique ratione ipsam quisquam nam architecto veritatis expedita porro pariatur nemo modi neque officia eligendi reprehenderit doloribus, optio blanditiis.</p>
        </div>
    </footer>
</body>
</html>


